body {
  font-family: sans-serif;
}

.main {
  background-image: url(https://wallpaperbat.com/img/583009-wallpaper.jpg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fdc800;
  overflow-y: scroll;
  font-size: 24px;

  background-position: center;
  background-size: cover;
  height: 100vh;
}

.main::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.219);
  /* position: relative; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main > h1,
.main > p {
  text-align: center;
  font-family: 35px;
  z-index: 2;
  position: relative;
}

.main-content {
  background-color: rgb(27, 27, 50, 0.9);
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  box-shadow: 0px -1px 10px 5px rgba(181, 211, 9, 0.87);
}

#name,
#email,
#number,
#dropdown,
#comment {
  display: block;
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 40px;
}

label[for="name"],
label[for="email"],
label[for="number"],
label[for="dropdown"],
label[for="comment"] {
  margin-bottom: 10px;
  display: inline-block;
}

#video-length,
#content-quality,
#more-videos,
fieldset input {
  height: 20px;
  width: 20px;
  margin-right: 15px;
  margin-bottom: 15px;
}

#comment {
  min-height: 180px;
}

label[for="comment"] {
  margin-top: 30px;
}

#submit {
  display: block;
  width: 100%;
  padding: 13px;
  background: #fdc800;
  border-radius: 2px;
  cursor: pointer;
  border: 0;
  color: #ffffff;
  font-size: 20px;
}
